button {
  border: none;
  
  font-size: 24px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  transition: all .5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
 }
 button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }
.equals {
  grid-column: 3 / 5;
  --color: #e5e8e7;
 --color2: rgb(10, 25, 30);
 padding: 0.8em 1.75em;
 background-color: transparent;
 border-radius: 6px;
 border: .3px solid var(--color);
 transition: .5s;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 z-index: 1;
 font-weight: 300;
 font-size: 17px;
 text-transform: uppercase;
 color: var(--color);
}
.equals::after, .equals::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .equals::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .equals:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .equals:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .equals:hover {
  color: var(--color2);
 }
 
 .equals:active {
  filter: brightness(.7);
  transform: scale(.98);
 }